.breadcrumb {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.breadcrumb h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.breadcrumb p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #6c757d;
}

.breadcrumb a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-section input,
.filter-section select,
.filter-section button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.filter-section button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.filter-section button:hover {
  background-color: #0056b3;
}

.reset {
  background-color: #f66;
}

.export {
  background-color: #4caf50;
}

.user-section  {
  overflow-x: auto;
}
.user-section h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

table th {
  background-color: #f8f9fa;
}
/* .btn{
  display: flex;
  align-items: center;
  gap: 5px;

} */

table .login-btn {
  background-color: #ff5e57;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

table .edit-btn {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

table .login-btn:hover {
  background-color: #d9534f;
}

table .edit-btn:hover {
  background-color: #138496;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status.online {
  background-color: green;
}

.status.offline {
  background-color: red;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.214);
  border-bottom: 1px solid rgba(0, 0, 0, 0.214);
}

@media (max-width: 768px) {
  .filter-section {
    flex-direction: column;
    gap: 5px;
  }

  table {
    font-size: 12px;
  }

  table th,
  table td {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .breadcrumb h1 {
      font-size: 1.25rem;
  }

  .breadcrumb p {
      font-size: 0.8rem;
  }
  .btn {
      padding: 0.6rem;
      font-size: 0.9rem;
  }
}

/* For screens smaller than 480px (Phones) */
@media (max-width: 480px) {
  .breadcrumb h1 {
      font-size: 1.1rem;
  }

  .breadcrumb p {
      font-size: 0.75rem;
  }

  .btn {
      padding: 0.5rem;
      font-size: 0.8rem;
  }
}