.breadcrumb {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.breadcrumb h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.breadcrumb p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #6c757d;
}

.breadcrumb a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}
 /* Heading Styles */
 .page-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
}

/* Filters */

.filters input,
.filters select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
  min-width: 150px;
}

.filters .btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 100px;
}

.filters .btn.filter {
  background-color: #007bff;
  color: white;
}

.income-section {
  text-align: center;
}

.income-section h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

table th {
  background-color: #f8f9fa;
}

.total-income {
  font-size: 16px;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.214);
  border-bottom: 1px solid rgba(0, 0, 0, 0.214);
}

@media (max-width: 768px) {
  .filter-section {
    flex-direction: column;
    align-items: stretch;
  }

  table {
    font-size: 12px;
  }

  table th,
  table td {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .breadcrumb h1 {
      font-size: 1.25rem;
  }

  .breadcrumb p {
      font-size: 0.8rem;
  }
  .btn {
      padding: 0.6rem;
      font-size: 0.9rem;
  }
}

/* For screens smaller than 480px (Phones) */
@media (max-width: 480px) {
  .breadcrumb h1 {
      font-size: 1.1rem;
  }

  .breadcrumb p {
      font-size: 0.75rem;
  }

  .btn {
      padding: 0.5rem;
      font-size: 0.8rem;
  }
}