<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <nav class="right-nav">
        <div class="">
            <i class="ri-arrow-left-line"></i>
        </div>
        <div>
            <p>Admin</p>
        </div>
    </nav>
</body>

</html>