<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Table</title>
    <link rel="stylesheet" href="../../css/addfund.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumb">
            <h1>Fund Transfer</h1>
            <p><a href="#">home</a> / <a href="#">fund / </a><span>Fund Transfer</span></p>
        </div>
        <h2 class="page-heading">FUND TRANSFER</h2>
        <hr>
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="old-password">USERNAME</label><input type="text" id="Username"
                        placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="new-password">ENTER AMOUNT</label><input type="number" id="Amount"
                        placeholder="Enter Amount">
                </div>
                <button type="submit" class="btn">TRANSFER</button>
            </form>
        </div>
        <footer>
            <p>Copyright © 2024 company name</p>
        </footer>
    </div>
</body>

</html>