<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Table</title>
    <link rel="stylesheet" href="../../css/api.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumb">
            <h1>API</h1>
            <p><a href="#">home</a> / <a href="#">Api / </a><span>API</span></p>
        </div>
        <h2 class="page-heading">API</h2>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Network</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Account ID</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Payout Wallet</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Receiving Wallet</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Fee Wallet</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Coin Balance</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Token Balance</td>
                    <td>Germany</td>
                </tr>
            </tbody>
        </table>
        <footer>
            <p>Copyright © 2024 company name</p>
        </footer>
    </div>
</body>

</html>