<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Approved</title>
    <link rel="stylesheet" href="../../css/approvedsupport.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumb">
            <h1>Support</h1>
            <p><a href="#">home</a> / <a href="#">Support / </a><span>Approved</span></p>
        </div>
        <h2 class="page-heading">SUPPORT APPROVED</h2>
        <hr>

        <div class="filters">
            <input type="text" placeholder="Enter Ticket ID">
            <input type="text" placeholder="Enter Username">
            <select>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
            <input type="date">
            <input type="date">
            <button>FILTER</button>
            <button class="reset">RESET</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Ticket ID</th>
                    <th>User ID</th>
                    <th>Description</th>
                    <th>Create Date</th>
                    <th>Status</th>
                    <th>Reply</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">No records found.</td>
                </tr>
            </tbody>
        </table>
        <footer>
            <p>Copyright © 2024 company name</p>
        </footer>
    </div>
</body>

</html>