<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Fund History</title>
    <link rel="stylesheet" href="../../css/approvedfund.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumb">
            <h1>Approved Fund Request</h1>
            <p><a href="#">home</a> / <a href="#">Fund Request</a><span> / Approved</span></p>
        </div>
        <h2 class="page-heading">APPROVED FUND REQUEST</h2>
        <hr>

        <!-- Filters Section -->
        <section class="filters">
            <input type="text" placeholder="Enter Tx User">
            <button class="filter-btn">Filter</button>
            <button class="reset-btn">Reset</button>
        </section>

        <!-- Table Section -->
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>TX User</th>
                    <th>Amount</th>
                    <th>Method</th>
                    <th>Type</th>
                    <th>UTR Number</th>
                    <th>Payment Slip</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <!-- Placeholder rows -->
                <tr>
                    <td>1</td>
                    <td>User1</td>
                    <td>$100</td>
                    <td>Approve</td>
                    <td>Pending</td>
                    <td>95</td>
                    <td>Bank Details</td>
                    <td>Pending</td>
                    <td>2024-11-28</td>
                </tr>
                
            </tbody>
        </table>
        <footer>
            <p>Copyright © 2024 company name</p>
        </footer>
    </div>
</body>

</html>