<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund Transfer History</title>
    <link rel="stylesheet" href="../../css/fundtransferhistory.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumb">
            <h1>Fund Transfer</h1>
            <p><a href="#">home</a> / <a href="#">fund /</a> <span>Fund Transfer</span></p>
        </div>
        <h2 class="page-heading">FUND TRANSFER</h2>
        <hr>

        <div class="filters">
            <input type="text" placeholder="Enter Username">
            <input type="text" placeholder="Enter Full Name">
            <button>FILTER</button>
            <button class="export">EXPORT TO EXCEL</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>SR</th>
                    <th>USERID</th>
                    <th>FULL NAME</th>
                    <th>AMOUNT</th>
                    <th>WALLET TYPE</th>
                    <th>DATE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>TS973204</td>
                    <td>eracom tester</td>
                    <td>999999.9999</td>
                    <td>fund_wallet</td>
                    <td>2023-03-02 13:17:10</td>
                </tr>
            </tbody>
        </table>
        <footer>
            <p>Copyright © 2024 company name</p>
        </footer>
    </div>
</body>

</html>