<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Income</title>
    <link rel="stylesheet" href="../../css/income.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumb">
            <h1>Income</h1>
            <p><a href="#">home</a> / <a href="#">Income</a></p>
        </div>
        <!-- Page Heading -->
        <h2 class="page-heading">INCOME</h2>
        <hr />

        <div class="filters">
            <select>
                <option value="">Select Month</option>
                <option value="payer1">November-2024</option>
                <option value="payer2">October-2024</option>
            </select>
            <button class="btn filter">FILTER</button>
        </div>

        <div class="income-section">
            <h2>Income Section</h2>
            <table>
                <thead>
                    <tr>
                        <th>Daily ROI Income</th>
                        <th>Matching Income</th>
                        <th>Direct Sponsor Income</th>
                        <th>Team Performance Reward Monthly</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3</td>
                        <td>5</td>
                        <td>1.5</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div class="total-income">
                <strong>Total Income: 10</strong>
            </div>
        </div>
        <footer>
            <p>Copyright © 2024 company name</p>
        </footer>
    </div>
</body>

</html>