<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Settings</title>
    <link rel="stylesheet" href="../../css/plansettings.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumb">
            <p><a href="#">Home</a> / <a href="#">Setting</a></p>
        </div>
        <!-- Top Section -->
        <div class="cards-container">
            <div class="card">
                <h2>Sponsor Plan Setting</h2>
                <form>
                    <div class="form-group">
                        <label for="sponsor-matching-income">Sponsor Matching Income (%)</label>
                        <input type="number" id="sponsor-matching-income" value="6">
                    </div>
                    <button class="btn">Change</button>
                </form>
            </div>
            <div class="card">
                <h2>Roi Plan Setting</h2>
                <form>
                    <div class="form-group">
                        <label for="roi-income">Roi Income (%)</label>
                        <input type="number" id="roi-income" value="11">
                    </div>
                    <button class="btn">Change</button>
                </form>
            </div>
        </div>

        <!-- Bottom Section -->
        <div class="table-container">
            <h2>Team Performance Reward Setting</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID Sale</th>
                        <th>Reward</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="number" value="10000"></td>
                        <td><input type="number" value="1000"></td>
                    </tr>
                    <tr>
                        <td><input type="number" value="50000"></td>
                        <td><input type="number" value="5000"></td>
                    </tr>
                    <tr>
                        <td><input type="number" value="100000"></td>
                        <td><input type="number" value="10000"></td>
                    </tr>
                    <tr>
                        <td><input type="number" value="30000"></td>
                        <td><input type="number" value="1000"></td>
                    </tr>
                    <tr>
                        <td><input type="number" value="100000"></td>
                        <td><input type="number" value="5000"></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn">Change</button>
        </div>
        <footer>
            <p>Copyright © 2024 company name</p>
        </footer>
    </div>
</body>

</html>