<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reward Page</title>
    <link rel="stylesheet" href="../../css/rewarduser.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumb">
            <h1>Reward</h1>
            <p><a href="#">home</a> / <a href="#">Order</a> / <span>All</span></p>
        </div>

        <section class="filters">
            <input type="text" placeholder="Enter Tx User">
            <input type="text" placeholder="Enter Username">
            <select>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
            <button class="filter-btn">Filter</button>
            <button class="reset-btn">Reset</button>
        </section>

        <table class="responsive-table">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>UserID (Name)</th>
                    <th>Rank</th>
                    <th>Complete Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" class="no-data">No data available</td>
                </tr>
            </tbody>
        </table>
        <footer>
            <p>Copyright © 2024 company name</p>
        </footer>
    </div>
</body>

</html>